*/tmp/*.txt
*.gz
*.bin
*.ply
*.pdf
*.jpeg
*.jpg
*.png
*.ply
*.zip
*.avi
*.txt
*.pt
*.checksum

.env
.vscode

**/__pycache__/
**/.ipynb_checkpoints


!requirements.txt

!results/.gitkeep

dependencies/*
tmp/*
