*/tmp/*.txt
*.gz
*.bin
*.ply
*.pdf
*.jpeg
*.jpg
*.png
*.ply
*.zip
*.avi
*.txt
*.pt
*.checksum

.env
.vscode

**/__pycache__/
**/.ipynb_checkpoints

!requirements.txt
results/
!results/*/test.csv
!results/*/config.yaml
!results/*/plot_config.yaml
!results/.gitkeep

dependencies/*
tmp/*